.navbar-desktop-rtl {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-desktop-rtl .navbar-container {
    height: 100px;
    border-radius: 4px;
    background-color: #0e70ec;
    position: relative;
}

.navbar-desktop-rtl .bsd {
	color: white;
	font-size: 8px;
	margin-right: 4px;
	direction: rtl;
}	

.navbar-desktop-rtl .logo {
    /* width: 97px; */
    height: 100%;
    object-fit: contain;
    padding-right: 32px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}


.navbar-desktop-rtl .profile-pic {
    width: 30px;
    height: 30px;
    object-fit: contain;
    right: 30px;
    top: 50%;
	border-radius: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.navbar-desktop-rtl .navbar-text {
    width: 100px;
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    left: 68px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}
