.donat-mobile-rtl {


    margin: 0 auto;
	/* border-radius: 20px; */
    border: 1px solid transparent;
	background-color: #e4e7e8;


    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	margin-bottom: 20px;
	margin-top: 20px;	


}

.donat-mobile-rtl .icon {
	
	 font-size:3rem;
	 border-radius: 50%;
	 background-color: rgb(117,117,117);
	 margin-left:50px
}

.donat-mobile-rtl .list-item{
	border-bottom: 1px solid #d2d3d5;	
	
}

.donat-mobile-rtl .title{
	margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
	font-weight:bold;
    letter-spacing: -1px;
	border-bottom: 2px solid black;	
}

.donat-mobile-rtl .list-body{
		height: 300px;
		overflow-y:scroll;
}

.donat-mobile-rtl .amount {
	display: block;
    font-size: 20px;
	font-weight:bold;
	margin-right: 30px;
}


.donat-mobile-rtl .currency-symbol{
	display:inline;
	direction: rtl;
	margin-right:10px
}

